html * {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
    position: absolute;
}

.header {
    width: 100vw;
    margin: 0 auto;
    display: inline-flex;
}

.header__brand {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    padding: 1rem 2rem;
}

.header__nav1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: small;
    color: hsl(0, 0%, 41%);
    padding: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav1 span {
    padding: 0 1rem;
}

.header__nav1 span:hover {
    cursor: pointer;
}

.header__nav2 {
    font-family: 'Epilogue', sans-serif;
    font-size: small;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    padding: 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60vw;
}

.header__nav2 span {
    padding: 0.80rem 1.5rem;
}

.header__nav2 span:hover {
    cursor: pointer;
    border: solid 1px hsl(0, 0%, 41%);
    border-radius: 15px;
}

.content {
    position: relative;
    margin: 0 auto;
    background-color: blue;
    width: 60vw;
    margin-top: 2rem;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3rem;
}

.content__text {
    font-family: 'Epilogue', sans-serif;
}

.content__text-slogan {
    font-size: 2.75rem;
    padding: 1.5rem;
    margin-top: 3rem;
}

.content__text-paragraph {
    color: hsl(0, 0%, 41%);
    padding: 1.5rem;
    width: 50%;
}

.content__text-button {
    padding: 1rem;
    width: 7rem;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.content__text-footer {
    margin-top: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.content__text-footer span {
    padding: 0 0.75rem;
}

.content__image {

}